.row {
  margin-top: -110px;
  margin-left: 20px;
  color: white;
  padding-bottom: 120px;
}

.row_title {
  padding-left: 18px;
  font-weight: 600;
  /* font-size: 0.8rem; */
  margin-bottom: -10px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;

  padding: 20px;
  padding-top: 20px;
  /* stops posters from crpping while hovering and bigger */
}

// %btn-styles {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 10%;
//   height: 80%;
//   background: none;
// }

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  /* if size changes will take place really slow */
  /* the hover increase will be smooth */
  transition: transform 450ms;
  margin-right: 3px;
  /* rounded corner */
  border-radius: 0.4vw;
}

.row_poster:hover {
  transform: scale(1.08);
  /* the scale of the posters when hovering */
}
.next {
  margin-left: 5px;
}

.prev {
  margin-right: 5px;
}

.prev:hover,
.next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
